  <section ng-class="$ctrl.styles.storesadd">
    <div>
      <h4>ADD STORE</h4>
      <div>
        <label>NAME: <input ng-model="$ctrl.address.name" type="text"></label>
      </div>
      <div>
        <label>STREET: <input ng-model="$ctrl.address.stree" type="text"></label>
      </div>
      <div>
        <label>CITY: <input ng-model="$ctrl.address.city" type="text"></label>
      </div>
      <div>
        <label>STATE: <input ng-model="$ctrl.address.state" type="text"></label>
      </div>
      <!-- the props don't go here it goes in stores-add.js -->
      <button ng-click="stores.add({ 
        name: store.address.name, 
        street: store.address.street,

      })">ADD</button>
    </div>
  </section>
