<section>
    <br />
    <h1>{{$ctrl.store.name}}</h1>
    <br />

  <div>
    <div>
      <p>{{$ctrl.store.address.street}}</p>
      <p><span>{{$ctrl.store.address.city}}, {{$ctrl.store.address.state}}</span></p>
      <br />
      <h5>PETS AVAILABLE:</h5>
      <ul ng-repeat="pet in $ctrl.store.pets">
        <li>
          <p>NAME: {{pet.name}}</p>
          <p>TYPE: {{pet.animal}}</p>

        </li>
      </ul>
      <button ui-sref="stores.store.addpet">ADD PET</button>
    </div>    
    <ui-view name="addpet"></ui-view>
  </div>
</section>