  <section ng-class="$ctrl.styles.storesadd">
    <div>
      <h4>ADD PET TO STORE</h4>

      <div>
        <label>NAME: <input ng-model="$ctrl.name" type="text"></label>

      </div>

      <div>
        <select required ng-model="$ctrl.animal" name="animal">
          <option value="">ANIMAL</option>
          <option ng-repeat="pet in $ctrl.pets" value={{pet}}>
            {{pet}}
          </option>
        </select>
      
      </div>

     <!-- the props don't go here it goes in stores-add.js -->
      <button ng-click="$ctrl.addpet()">ADD</button>
    
    </div>
  </section>
