  <section ng-class="$ctrl.styles.storesstoreaddpet">
    <div>
      <h4>ADD PET TO STORE</h4>

      <div>
        <label>NAME: <input ng-model="$ctrl.name" type="text"></label>

      </div>

      <article>
        <select required ng-model="$ctrl.animal" name="animal">
          <option value="">ANIMAL</option>
          <option ng-repeat="pet in $ctrl.pets" value={{pet}}>
            {{pet}}
          </option>
        </select>
      
      </article>

      <button ng-click="$ctrl.addpet()">ADD</button>
      <button ng-click="$ctrl.scratch()">CANCEL</button>
    
    </div>
  </section>
